[mysqld]

## General
user=mysql
datadir                         = /var/lib/mysql
#tmpdir                         = /var/lib/mysqltmp
#socket                         = /var/lib/mysql/mysql.sock
#socket                          = /var/run/mysqld/mysqld.sock
socket                          = /var/lib/mysql/mysql.sock
#skip-networking
#skip-name-resolve
#sql-mode                        = NO_ENGINE_SUBSTITUTION
#event-scheduler                = 1
symbolic-links=0

## Cache
table-open-cache                = 4096
table-definition-cache          = 2048
query-cache-size                = 128M
query-cache-limit               = 1M

## Per-thread Buffers
sort-buffer-size                = 512K
read-buffer-size                = 256K
read-rnd-buffer-size            = 512K
join-buffer-size                = 4M
thread-stack                    = 512K

## Temp Tables
tmp-table-size                  = 128M
max-heap-table-size             = 128M

## Networking
back-log                        = 100
max-connections                 = 50
thread-cache-size               = 50
max-connect-errors              = 100
max-allowed-packet              = 16M
interactive-timeout             = 30
wait-timeout                    = 30

### Storage Engines
default-storage-engine         = InnoDB
innodb                         = FORCE

## InnoDB
innodb-buffer-pool-size        = 1G
#innodb-buffer-pool-instances   = 8
#innodb-thread-concurrency      = 0
innodb-log-file-size           = 64M
innodb-log-buffer-size         = 8M
innodb-file-per-table          = 1
innodb-open-files              = 300
innodb_flush_method            = O_DIRECT
innodb_flush_log_at_trx_commit = 2
transaction-isolation          = READ-COMMITTED

## Character
character-set-server = utf8
collation-server = utf8_unicode_ci
init-connect = "SET NAMES utf8 COLLATE utf8_unicode_ci"
skip-character-set-client-handshake

[mysqld_safe]
log-error=/var/lib/mysql/mysql.log
pid-file=/var/run/mysqld/mysqld.pid
