[client]
user=root
#password="*********"
#port        = 3306
socket      = /var/lib/mysql/mysql.sock

[mysql]
user=root
#password="*********"
#port        = 3306
socket      = /var/lib/mysql/mysql.sock

[mysqldump]
user=root
#password="*********"
socket      = /var/lib/mysql/mysql.sock

[mysqldiff]
user=root
#password="*********"
socket      = /var/lib/mysql/mysql.sock
